@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("./vendor/font/Inter-Regular.woff2") format("woff2");
  }

@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("./vendor/font/Inter-Black.woff2") format("woff2");
  }

.page {
    margin: 0 auto;
    font-size: 0;
    background-color: var(--bg);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    display: grid;
    grid-template-columns: 1fr minmax(768px, 1080px) 1fr;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
    "header header header"
    ". lead ."
    ". intro ."
    "photo-grid photo-grid photo-grid"
    ". places ."
    "cover cover cover"
    "footer footer footer";
    justify-items: center;
    transition: all .5s ease;
  }

@media screen and (max-width: 768px) {
  .page {
    grid-template-columns: 1fr;
  }   
}