.places {
    grid-area: places;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0 48px 92px;
    box-sizing: border-box;
    transition: all .5s ease;
}

@media screen and (max-width: 768px) {
    .places {
        padding: 0 24px 92px;
    }   
}

@media screen and (max-width: 425px) {
    .places {
        padding: 0 16px 88px;
        gap: 72px;
    }   
}

@media screen and (max-width: 425px) {
    .places {
        padding: 0 0 66px;
        gap: 50px;
    }   
}