.places__title {
    color: var(--text);
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    transition: all .5s ease;
}

@media screen and (max-width: 900px) {
    .places__title {
        font-size: 55px;
        line-height: 60px;
    }   
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }   
}

@media screen and (max-width: 512px) {
    .places__title {
        font-size: 28px;
        line-height: 30px;
    }   
}

@media screen and (max-width: 425px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
    }   
}

@media screen and (max-width: 425px) {
    .places__title {
        padding: 0 16px;
    }   
}