.header {
    grid-area: header;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 28px 48px 56px 48px;
    box-sizing: border-box;
    transition: all .5s ease;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 16px 16px 48px 16px;
    }   
}