.intro {
    grid-area: intro;
    max-width: 690px;
    justify-self: start;
    box-sizing: border-box;
    padding: 0 48px 92px;
    transition: all .5s ease;
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 100%;
        padding: 0 24px 88px;
    }   
}

@media screen and (max-width: 425px) {
    .intro {
        padding: 0 16px 64px;
    }   
}

