.cover {
    grid-area: cover;
    position: relative;
    min-width: calc(100% - 96px);
    max-width: 1184px;
    padding: 0 0 92px;
    box-sizing: content-box;
    transition: all .5s ease;
}

@media screen and (max-width: 1024px) {
    .cover {
        min-width: 100%;
    }   
}

@media screen and (max-width: 768px) {
    .cover {
        padding: 0 0 88px;
    }   
}

@media screen and (max-width: 425px) {
    .cover {
        padding: 0 0 64px;
    }   
}