.footer__nav {
    display: flex;
    gap: 18px;
    transition: all .5s ease;
}

@media screen and (max-width: 700px) {
    .footer__nav {
        gap: 14px;
    }   
}

@media screen and (max-width: 512px) {
    .footer__nav {
        gap: 8px;
    }   
}

@media screen and (max-width: 425px) {
    .footer__nav {
        flex-direction: column;
        gap: 32px;
    }   
}