.cover__overlay {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 10;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background-image: url(../../../images/cover/cover-baikal-tains_1184.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    transition: all .5s ease;
}

.cover__overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: calc(100% - 92px);
    background-color: var(--overlay);
    opacity: .3;
    transition: all .5s ease;
}

.cover__overlay:hover::after {
    opacity: .8;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        background-image: url(../../../images/cover/cover-baikal-tains_1024.png);
    }   
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        background-image: url(../../../images/cover/cover-baikal-tains_768.png);
    }   

    .cover__overlay::after {
        min-height: calc(100% - 88px);
    }  
}

@media screen and (max-width: 425px) {
    .cover__overlay {
        gap: 16px;
    }   

    .cover__overlay::after {
        min-height: calc(100% - 64px);
    }   
}