.cover__title {
    max-width: 560px;
    width: 100%;
    color: var(--text);
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: center;
    margin: 0;
    box-sizing: border-box;
    z-index: 2;
    transition: all .5s ease;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 52px;
        line-height: 46px;
    }   
}

@media screen and (max-width: 425px) {
    .cover__title {
        width: 100%;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }   
}