.places__website {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all .5s ease;
}

@media screen and (max-width: 425px) {
    .places__website {
        padding: 0 16px;
    }   
}